/runs
/docs
/Resources
**/__pycache__/
/.vscode
.vscode/
/cleanmarl/runs
/mp_tests
/runs_hpc
/wandb
/smaclite
/JaxMARL
/.DS_Store
/.vscode
todo.txt
cleanmarl/env/smax_vec_wrapper.py
cleanmarl/env/smax_wrapper.py
cleanmarl/mappo_smax.py
cleanmarl/vdn_jaxenvs.py